/* Reset row box to prevent width overflow */
.row { padding: 0; margin: 0; }

/*
Colors
Highlight Blue: #E9F8FF
Light Blue: #2CB7FF
Dark Blue: #2A7BBF
Orca Blue: #122892
*/

.header {
  /*font-family: 'nimbus sans regular', */
  padding: 20px 0 40px 0;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.row.navbar {
  background: #2CB7FF;
  border-radius: 0;
  text-align: center;
}
.row.navbar > a > .nav-link {
  display: inline-block;
  line-height: 80px;
  padding: 0 20px;
  color: white;
}
.row.navbar > a > .nav-link:hover {
  background: #2A7BBF;
}
.row.navbar > a > .nav-link.selected {
  background: #2A7BBF;
}

.masthead {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.masthead > .background {
  min-height: 100%; min-width: 100%;
  z-index: -1;
}
.masthead .overlay-text {
  position: absolute;
  width: 900px;
  top: 0; left: 50%;
  margin-left: -450px;
  z-index: 1;

  padding-top: 60px;
  text-align: center;
  font-size: 80px;
}

.info-section {
  margin: 100px auto;
  text-align: center;
}
.info-section > .img-container > img {
  width: 200px;
}
.info-section > .title {
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
}
.info-section > .text {
  padding: 0px 40px;
  font-size: 18px;
}
.info-section > .link > a {
  font-size: 18px;
  color: #2CB7FF;
}

.download-section {
  background: #E9F8FF;
}
.download-section a:hover {
  text-decoration: none;
}
.download-section .link-btn {
  width: 300px;
  margin: 40px auto;
  background: #2CB7FF;
  border-radius: 6px;

  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: white;
}
.link-btn > .fa {
  padding-right: 10px;
}

.welcome-section {
  padding: 100px 20px;
}
.welcome-section h3 {
  letter-spacing: 2px;
  padding-bottom: 5px;
}

.orca-bar {
  background: #122892;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: white;
}
.orca-bar .checkmark {
  height: 20px;
  padding-right: 10px;
}
.orca-bar .orca-logo {
  height: 35px;
  padding-left: 20px;
}

.footer {
  padding: 40px;
  text-align: center;
}

.providers-container {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 100px;
}
.providers-container td { vertical-align: top; }
.providers-container > .provider-container { margin-top: 100px; }
.providers-container > .provider-container:first-child { margin-top: 60px; }
.provider-container .provider-image {
  display: inline-block;
  width: 150px;
}
.provider-container .provider-image > img {
  border-radius: 50%;
  width: 100%;
}
.provider-container .provider-description > h3 {
  line-height: 1;
  margin: 0;
  margin-bottom: 20px;
}
.provider-container .provider-description { padding-left: 30px; }

.text-container {
  margin: 0 auto;
  max-width: 700px;
}
.text-container h1 {
  font-size: 72px;
  font-weight: 300;
  margin: 50px 0;
}
.text-container .section {
  margin-bottom: 50px;
}
.text-container .section-header {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}
.text-container .section-sub-header {
  font-weight: bold;
  margin-top: 30px;
  font-size: 16px;
}

@media (max-width: 979px) {
  .row.navbar > a > .nav-link { padding: 0 10px; }
  .masthead { height: 300px; }
  .masthead .overlay-text {
    width: 700px;
    margin-left: -350px;
    padding-top: 20px;
    font-size: 60px;
  }
  .info-section { margin: 60px 0; }
  .info-section > .text { font-size: 16px; }
  .welcome-section { padding: 60px 20px; }
}

@media (max-width: 767px) {
  .header { font-size: 24px; }
  .header .spine { height: 100px }
  .masthead { height: 220px; }
  .masthead .overlay-text {
    width: 480px;
    margin-left: -240px;
    padding-top: 20px;
    font-size: 40px;
  }
  .info-section > .img-container > img { width: 150px; }
  .download-section .link-btn {
    width: 250px;
    margin: 20px auto;
  }
  .providers-container td {
    display: table-row;
    width: 100%;
  }
  .provider-container .provider-image {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .provider-container .provider-image > img {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .row.navbar > a > .nav-link {
    line-height: 60px;
    font-size: 12px;
    padding: 0 10px;
  }
  .masthead { height: 200px; }
  .masthead .overlay-text {
    width: 240px;
    margin-left: -120px;
    padding-top: 60px;
    font-size: 20px;
  }
  .footer { font-size: 12px; }
}
